*,*::before,*::after{
  box-sizing: border-box;
}
*{
  margin: 0;
}
body {

  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: var(--black);
  -webkit-font-smoothning:antialiased;
  color:var(--white);
}
:root{
  --primary:#34C94B;
  --black:#121212;
  --white:#ffffff;
}
input,select,button,textarea{
  font:inherit;
}
p,h1,h2,h3,h4,h5,h5,h6{
overflow-wrap: break-word;
}
image,picture,video,audio,canvas,svg{
  display: block;
  max-width: 100%;
}
#root,
#__next{
  isolation: isolate;
}